@import "../app-color";

.IssueItem {
  border-bottom: solid 1px $sidebar-font-color;
  cursor: pointer;
  margin: 0;
  padding: 0.5em 0 0 0.2em;
  .IssueItem-title {
    font-size: 100%;
    margin: 0;
  }
}
